/**
 * /* --------------------
 *
 * @format
 */

/* Custom Properties   */
/* --------------------*/

:root {
  --darkest: #270f21;
  --eggplant: #522b47;
  --magenta: #7b0828;
  --rust: #af3800;
  --sapphire: #066699;
  --turqoise: #0d838b;
  --mustard: #ffb400;
  --pale: #93a8ac;
  --pale-pink: #e0b2bf;
  --light: #fffffa;
}

/* --------------------*/
/* Fonts               */
/* --------------------*/

/* font-family: 'Coustard', serif;
font-family: 'EB Garamond', serif;
font-family: 'Eczar', serif; */

/* --------------------*/
/* Reset               */
/* --------------------*/

/* https://piccalil.li/blog/a-modern-css-rest/ */

/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default font size - 1em = 16px - 2.1rem = 21px */

html {
  font-size: 62.5%;
  height: 100%;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

/* Set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'EB Garamond', serif;
  font-size: 62.5%;
}

main {
  font-size: 2rem;
}

/*make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Sticky footer */

body > footer {
  position: sticky;
  top: 100vh;
}

/* --------------------*/
/* Utility classes     */
/* --------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em; /*looking at inline access of container (left and right side, not top and bottom)*/
  margin-inline: auto;
  max-width: 80rem;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

/* --------------------*/
/* Scrollbar           */
/* --------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sapphire);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #014569;
}

/* --------------------*/
/* Logo                */
/* --------------------*/

#initials {
  font-family: "Eczar", serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  border-radius: 8px;
  padding: .7em;
  margin-left: .5rem;
  color: var(--light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.initial-link,
.initial-link:hover {
  color: inherit;
  text-decoration: none;
  border: none;
}

.logo {
  position: absolute;
}

.animation {
  animation-name: color-flow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rotate:hover {
  animation: rotation 2s 1;
  color: inherit;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes color-flow {
  0% {
    background-color: var(--magenta);
  }
  20% {
    background-color: var(--rust);
  }
  40% {
    background-color: var(--mustard);
  }
  80% {
    background-color: var(--sapphire);
  }
  100% {
    background-color: var(--eggplant);
  }
}

/* --------------------*/
/* Nav                 */
/* --------------------*/

nav {
  font-size: 1.5rem;
  background-color: var(--darkest);
  padding: 3rem;
  border-bottom: groove 1em var(--pale-pink);
}

nav ul li {
  text-decoration: none;
  display: inline-block;
}

.me {
max-height: 50vh; 
border-radius: 50%;   
align-self: center;
margin-top: -100px;
margin-bottom: -195px;
margin-right: 5rem;
border: 3px double black;
}

button {
  border-radius: 50%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin-right: 5rem;
  padding: 1rem;
  font-size: 2rem;
  width: 15rem;
}

/* --------------------*/
/* About section       */
/* --------------------*/

#about {
  margin-top: 10rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 3rem;
  background: linear-gradient(
    321deg,
    rgb(140, 202, 212) 0%,
    rgb(242, 182, 213) 100%
  );
  flex-direction: column;
  font-size: clamp(1.5rem, 7vmin, 2.5rem);
  border: groove 1em var(--pale-pink);
}

.opening-line:first-letter {
  font-size: 4rem;
}

.opening-line:first-line {
  font-weight: bold;
}

/* --------------------*/
/* Work                */
/* --------------------*/



.card-header,
.card-footer {
  background: linear-gradient(
    321deg,
    rgb(140, 202, 212) 0%,
    rgb(242, 182, 213) 100%
  );
}
.three-cards {
  margin: 5rem;
}

.card-img {
  border: 3px double black;
}

.card,
.card-body,
.card-img {
  margin-right: 2rem;
  border-radius: 8px;
}
.card:hover {
  transform: scale(1.1);
}


.website,
.github {
  border-radius: 8px;
}

/* --------------------*/
/* Footer              */
/* --------------------*/

/* --------------------*/
/* Contact Info        */
/* --------------------*/

.list {
  text-decoration: none;
  list-style: none;
  min-width: 80%;
}

.contact-info {
  border: groove 1em var(--pale-pink);
  border-radius: 40px 10px;
  transform: skewY(-2deg);
  max-width: 40%;
  background: linear-gradient(
    321deg,
    rgb(140, 202, 212) 0%,
    rgb(242, 182, 213) 100%
  );
  position: absolute;
  left: 100px;
}

#contact {
  font-size: 3rem;  
}



.contact-header {
  margin-left: 3rem;
  padding-left: 3rem;
}

.contact-li {
  margin: 1rem;
  font-size: 2rem;
}

.github,
.linkedin {
  max-width: 15%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
}

/* --------------------*/
/* Footer Image        */
/* --------------------*/

.contact-img {
  max-width: 60%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------*/
/* Footer Links        */
/* --------------------*/


footer {
  width: 100%;
  background-color: rgb(39, 15, 33, 0.8);
  color: var(--light);
  padding: 0.5em 0;
}

.footer-links {
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-size: 3rem;
}

.li-one,
.li-four {
  position: relative;
  bottom: 20rem;
}

.li-three,
.li-two {
  position: relative;
  bottom: 2rem;
}

.li-two {
  left: -50px;
}

.li-three {
  right: -50px;
}

.footer-links:hover {
color: inherit;
border-bottom: 5px solid var(--magenta);
}

/* --------------------*/
/* Mobile              */
/* --------------------*/

@media screen and (max-width: 580px) {
  .navBtnContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .disappear {
    display: none;
  }
  
  .logo {
    position: relative;
  }

}

@media screen and (max-width: 1100px) {

  .three-cards {
    flex-direction: column;
    
  }

  .card {
    margin-top: 5rem;
  }

 
}

@media screen and (max-width: 1000px) {

  .me {
    max-height: 25vh; 
    border-radius: 50%;   
    align-self: center;
    margin-top: -100px;
    margin-bottom: -205px;
    margin-right: 5rem;

  }
 
}

@media screen and (max-width: 1000px) {

  .me {
 display: none;
  }
 
}
